footer {
    padding: 55px 0 60px;

    .footer {
        display: flex;
        position: relative;
        &__menu {
            min-width: 596px;
            margin-right: 68px;

            &-button {
                margin: 33px 0 23px;
                font-weight: 700;
                font-size: 16px;
                line-height: 28px;


                opacity: 0.85;

                a {
                    color: #0E0C0D;
                    margin-right: 52px;
                }
            }

            &-social {
                margin-bottom: 44px;

                &__title {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 28px;
                    color: #0E0C0D;
                    opacity: 0.85;
                    margin-bottom: 15px;
                }
            }

            &-block {
                display: flex;
                justify-content: space-between;

                &__item {
                    display: flex;
                    flex-direction: column;
                }
            }

            &-link {
                margin-bottom: 7px;
                font-weight: 600;
                font-size: 16px;
                line-height: 28px;
                color: #0E0C0D;

                opacity: 0.7;
            }

            &-adress {
                max-width: 163px;
                font-weight: 600;
                font-size: 14px;
                line-height: 33px;
                color: #0E0C0D;

                opacity: 0.7;
            }
        }
        &__block-call{
            display: flex;
            flex-direction: column;
        }
        &__law {
            width: 596px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
            font-size: 14px;
            line-height: 28px;

            color: #0E0C0D;

            opacity: 0.8;
        }

        &__connection {
            margin-top: 25px;
            display: flex;
            flex-direction: column;

            &-title {
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */

                text-transform: uppercase;

                color: #0E0C0D;

            }

            &-buttons {
                width: 445px;

                margin: 33px 0 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            &-button {
                border: 2px solid #E3ECF5;
                border-radius: 13px;
                margin-bottom: 14px;

                img {
                    padding: 11px 35px;
                }

            }

            &-link {
                display: block;

                &__text {
                    display: block;
                    font-size: 13px;
                    line-height: 16px;


                    color: #0E0C0D;

                    opacity: 0.8;
                    padding: 18px 58px;
                }
            }

            &-phone {
                font-weight: 700;
                font-size: 30px;
                line-height: 37px;
                /* identical to box height */

                text-transform: uppercase;

                color: #F7D22D;
                margin-bottom: 20px;
            }

            &-btn {
                width: 180px;
                background: #F3F3F7;
                border-radius: 28px;
                padding: 7px 27px;
                font-weight: 700;
                font-size: 14px;
                line-height: 28px;
                color: #696F7A;

            }
        }
    }
}

