    .footer {
        padding: 55px 0 60px;
        display: flex;
        position: relative;
        .container{
            display: flex;
            position: relative;
        }
        &__menu {
            min-width: 596px;
            margin-right: 68px;
            margin-bottom: 84px;
            &-title {
                font-weight: 700;
                font-size: 16px;
                line-height: 28px;
                color: #0E0C0D;
                opacity: 0.85;
                margin-bottom: 15px;
            }
            &-button {
                margin: 33px 0 23px;
                font-weight: 700;
                font-size: 16px;
                line-height: 28px;
                opacity: 0.85;
                a {
                    margin-right: 52px;
                }
            }

            &-block {
                display: flex;
                justify-content: space-between;
                color: #0E0C0D;
                opacity: 0.7;

                &__item {
                    display: flex;
                    flex-direction: column;
                }
            }
            &-link {
                margin-bottom: 7px;
                font-weight: 600;
                font-size: 16px;
                line-height: 28px;  
            }

            &-adress {
                max-width: 163px;
                font-weight: 600;
                font-size: 14px;
                line-height: 33px;
            }
        }
        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #0E0C0D;
        }
        &__social {
            border: 2px solid #E3ECF5;
            border-radius: 13px;
            margin-bottom: 14px;
            display: inline-block;
            img {
                padding: 11px 35px;
            }
            &-text{
                display: block;
                    font-size: 13px;
                    line-height: 16px;
                    color: #0E0C0D;
                    opacity: 0.8;
                    padding: 18px 58px;
            }

        }
        &__connection {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            &-block {
                width: 445px;
                margin: 33px 0 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        &__call{
            flex-direction: column-reverse;
            align-items: flex-start;
            .call__phone{
                margin-bottom: 20px;
            }
        }
    }

.law {
        width: 596px;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;

        color: #0E0C0D;

        opacity: 0.8;
    }