*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #0E0C0D;
}
button{
    outline: none;
    background-color: transparent;
    border: none;
}
.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-family: 'Montserrat';
    color: #231F20;
}

@media screen and (max-width: 1170px) and (min-width: 737px) {
    .container {
        max-width: 80%;
    }
}