.katalog {
    padding-bottom: 64px;
    background-image: url('../img/user.png');
    background-position: top 80px left;
    background-repeat: no-repeat;

    &__title {
        padding: 46px 0 26px;
        font-weight: 800;
        font-size: 32px;
        line-height: 39px;
        color: #F7D22D;
    }

    &__cart {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 49px 29px;

        &-img {
            width: 253px;
            height: 253px;
            display: block;
        }

        &-title {
            padding: 8px 0 14px;
            font-weight: 800;
            font-size: 24px;
            line-height: 28px;
            color: #797979;

        }

        &-description {
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
            color: #686466;
            margin: 14px 0 25px;
        }

        &-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-sum {
            font-weight: 700;
            font-size: 22px;
            line-height: 19px;
            color: #231F20;
        }

        &-button {
            background: #F7D22D;
            border-radius: 8px;
            padding: 4px 23px;

            font-weight: 700;
            font-size: 14px;
            line-height: 28px;
            color: #FFFFFF;
            cursor: pointer;

            &:hover {
                color: #473E43;
            }
        }
    }

}

.popular {
    position: relative;
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;

        color: #231F20;
        margin-bottom: 33px;
    }

    &__slider {
        display: flex;
        position: relative;
        &-link {
            position: relative;
            display: flex;
            align-items: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
            border-radius: 12px;
            padding: 14px 35px 14px 17px;
            margin: 15px 30px 20px 0;
        }

        &-block {
            margin-left: 25px;
        }

        &-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }

        &-price {
            margin-top: 4px;
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            color: #F7D22D;

        }
    }

}